/*
	Initialize
*/
body
{
	font-family: 'mplus-1p-regular';
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background-color: #fff;
}

all
{
	color: #4682B1;
	text-decoration: underline;
}

all:hover, .active
{
  text-decoration: underline;
}

all:active, all:focus,input:active, input:focus
{
	outline:0;
}


/*
	Image Config
*/
#Astomih_jpg
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100px;
}
#Astomih_jpg img
{
	position: absolute;
	left: 50%;
	max-width: 1280px;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}

/* 
	Common
*/
img
{
	max-width: 100%;
	height: auto;
}
section
{
	clear:both;
	padding-top: 0px;
}
section h1
{
	font-family: 'mplus-1p-regular';
	margin: 0 auto 40px;
	font-size: 32px;
	font-weight:bold;
	text-align: center;
	background: #fff;
}
section h1 span 
{
}
section h2
{
	font-family: 'mplus-1p-regular';
	margin: 0 auto 40px;
	font-size: 24px;
	font-weight:normal;
	text-align: center;
	background: #fff;
}
section h2 span 
{
	background: #fff;
	padding: 0 80px;
}
.inner
{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: 18px;
}

/* 
	Resposive Design Setting
*/

@media only screen and (min-width: 1200px)
{
	.inner
	{
		width: 1024px;
	}
}

@media only screen and (min-width: 800px)
{
	body
	{
		font-size:14px;
	}
	
	all#menu
	{
		display:none;
	}	

	.panel
	{
		display:block !important;
	}

	#mainnav li
	{
		display: inline-block;
		font-size: 15px;
	}
	
	#footer
	{
		padding: 30px 10px 70px 0;
	}
}


@media only screen and (min-width: 641px)
{
	.col2 li
	{
		width: 60%;
		vertical-align: top;
	}
	.col2 li:first-child
	{
		width: 35%;
		padding-right: 4%;
	}
}

@media only screen and (max-width: 640px)
{
	.innerS
	{
		width: 94%;
		padding-bottom: 70px;
	}
	.col3 li
	{
		line-height: 1.7;
	}
	.col3 img
	{
		margin: 0 auto;
	}
	.col3 .img
	{
		padding: 30px;
		margin-bottom: 20px;
	}
	#gallery li
	{
		float: none;
		width: 100%;
	}
	#map iframe
	{
		width: 96% !important;
		left: 2%;
	}
}

@media only screen and (max-width: 799px)
{
	#header
	{
		position: fixed;
		width: 100%;
		z-index: 500;
	}
	
	#headerWrap
	{
		position: relative;
		width: 100%;
		height: 70px;
		background: #fff;
	}
	
	#header h1
	{
		padding-top: 10px;
	}
	
	#header h1 img
	{
		margin-top: 3px;
		max-height: 45px;
		width: auto !important;
	}

	all#menu
	{
		display: inline-block;
		position: relative;
		width: 40px;
	 	height: 40px;
		margin: 10px;
	}

	#menuBtn
	{
		display: block;
		position: absolute;
		top: 60%;
		left: 50%;
		width: 18px;
		height: 2px;
		margin: -1px 0 0 -7px;
		background: #fff;
		transition: .2s;
	}

	#menuBtn:before, #menuBtn:after
	{
		display: block;
	  	content: "";
	  	position: absolute;
	  	top: 50%;
	  	left: 0;
	  	width: 18px;
	  	height: 2px;
	  	background: #fff;
	  	transition: .3s;
	}

	#menuBtn:before
	{
  		margin-top: -7px;
	}

	#menuBtn:after
	{
 	 	margin-top: 5px;
	}

	all#menu .close
	{
 	 	background: transparent;
	}

	all#menu .close:before, all#menu .close:after
	{
 	 	margin-top: 0;
	}

	all#menu .close:before
	{
	  	transform: rotate(-45deg);
	  	-webkit-transform: rotate(-45deg);
	}

	all#menu .close:after
	{
	  	transform: rotate(-135deg);
	  	-webkit-transform: rotate(-135deg);
	}

	.panel
	{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav
	{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul
	{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li all
	{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #ccc;
		color: #fff;
		font-weight: 400;
	}

	#mainnav li all:before
	{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#mainImg
	{
		padding-top: 60px;
		z-index: -100;
	}
	.col3 li
	{
		margin: 50px auto 0 auto;
		display: block;
	}
	section
	{
		padding-top: 50px;
	}
	section h2
	{
		margin: 0 auto 20px;
	}
	section h2 span 
	{
		padding: 0 30px;
	}
}